<h1>Best first</h1>
<div style="display:flex; justify-content: space-around;">
  <div style=" height: 32em; background: rgba(255, 35, 0, 0.73); width: 20em; overflow: auto;">
    <pre>
      {{road | json}}
    </pre>
  </div>
  <div>
    <h2>Solucion</h2>
    {{bestFirst}}
  </div>
</div>